body{
    background-size: cover;
    background-image: url("background_web_app_filter.jpg");
} 
b{
    font-size: 30px;
}
button{
    font-size: 25px  !important;
}
h3
{
  font-size: 25px !important;
}
canvas {
  margin-top: 150px;
  border:2px dashed black;
}